# gradle

.gradle/
build/
out/
classes/
build-logic/.gradle/
build-logic/build/
common/build/
fabric/build/
neoforge/build/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# runs

run/
runs/
fabric/runs/
neoforge/runs/
common/runs/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# generated
remappedSrc/
